workflows/OgVLiE0gHzvIKkiZ.json
{
  "active": false,
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-02T06:52:20.936Z",
  "id": "OgVLiE0gHzvIKkiZ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "News Workflow 2.0",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hey! Your job is to summarise the article in bullet points, extracting the most important details. Format it neatly and use a few emojis for better look.\n\nOutput format:\n• Source: {WebsiteName}\n• Author: {AuthorName if available}\n• Published: {Date}\n• Category: {e.g., Tech / Business / Sports / Entertainment / Politics}\n• Reading time (approx): {X min}\n\nKey Takeaway: {One-line summary of why it matters}\n\nSummary bullets:\n– {Important point 1}\n– {Important point 2}\n– {Important point 3}\n…\n\n🔗 Read full article: {Link}\n\nTitle: {{ $json.title }}\nLink: {{ $json.link }}\nSnippet: {{ $json.contentSnippet }}\nContent: {{ $json.content }}\nGUID: {{ $json.guid }}\nPubDate: {{ $json.pubDate }}",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1584,
        672
      ],
      "id": "f0878c18-064e-4a87-b801-605d295abdbb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1600,
        896
      ],
      "id": "d4abf994-592a-41d4-937f-662e6dd42748",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "5ak8btP5PbtODyhw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=THERE YOU GO -\n{{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1936,
        800
      ],
      "id": "7cf7bea4-2f5b-4852-ad31-c387f30329d7",
      "name": "Discord",
      "webhookId": "c7eecea5-f34d-4257-9c2a-0f46aff1d5eb",
      "credentials": {
        "discordWebhookApi": {
          "id": "KkHuTtciUr8TVwyS",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        672
      ],
      "id": "ecf4927f-e132-4712-b289-696a9805597f",
      "name": "Wait",
      "webhookId": "70f0d601-61cf-453a-8c23-43f2b5865c8c"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1728,
        896
      ],
      "id": "0b966c12-9434-4a12-b0ad-a3b13c6d87bd",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "5ak8btP5PbtODyhw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1136,
        800
      ],
      "id": "b8731726-7d37-4cdc-87a5-8d3fb33876c8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"content\": null,\n  \"embeds\": [\n    {\n      \"title\": \"📰 Title of article\",\n      \"description\": \"**Source:** WebsiteName\\n**Author:** AuthorName\\n**Published:** Date\\n**Category:** Category\\n\\n**Key Takeaway:** …\\n\\n**Summary:**\\n– bullet1\\n– bullet2\\n– bullet3\\n\\n🔗 [Read full article](URL)\",\n      \"color\": 3447003\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1856,
        1040
      ],
      "id": "9ba18f89-4e5a-4cea-bd95-cfa3363a8458",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        464,
        800
      ],
      "id": "72ece267-b0bf-4ff0-8ca3-a223bfb6e527",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return[\n  { \"json\": { \"feed\": \"https://www.bleepingcomputer.com/feed/\" } },\n  { \"json\": { \"feed\": \"https://www.livemint.com/rss/politics\" } },\n  { \"json\": { \"feed\": \"https://www.livemint.com/rss/science\" } },\n  { \"json\": { \"feed\": \"https://www.livemint.com/rss/industry\" } },\n  { \"json\": { \"feed\": \"https://www.livemint.com/rss/education\" } },\n  { \"json\": { \"feed\": \"https://www.livemint.com/rss/sports\" } },\n  { \"json\": { \"feed\": \"https://www.livemint.com/rss/technology\" } },\n  { \"json\": { \"feed\": \"https://www.livemint.com/rss/news\" } },\n  { \"json\": { \"feed\": \"https://www.livemint.com/rss/AI\" } },\n  { \"json\": { \"feed\": \"https://feeds.feedburner.com/DeshGujarat/news\" } },\n  { \"json\": { \"feed\": \"https://deshgujarat.com/category/services/technology-use-it/feed/\" } }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        800
      ],
      "id": "a1aa4712-c5d7-4347-99dc-2d38fd3cb19c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.feed }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        912,
        800
      ],
      "id": "b6d5d615-ca07-486a-90f9-c839165e0709",
      "name": "RSS Read"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-02T06:52:20.961Z",
      "createdAt": "2025-12-02T06:52:20.961Z",
      "role": "workflow:owner",
      "workflowId": "OgVLiE0gHzvIKkiZ",
      "projectId": "LWAlEY3p5dqeoHI6"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-12T06:34:30.450Z",
      "createdAt": "2025-12-12T06:34:30.450Z",
      "id": "6TDCjlUJCB2eki1P",
      "name": "NEWS"
    },
    {
      "updatedAt": "2025-11-27T09:44:29.563Z",
      "createdAt": "2025-11-27T09:44:29.563Z",
      "id": "SsELVvolJDi1dvB6",
      "name": "Personal"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-12T06:35:37.000Z",
  "versionId": "43fbee1b-db09-4b47-b3dd-a220cfc5438f"
}